.footer {
    background-color: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
  }
  
  .social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  
  .social_list li {
    margin: 0 1rem;
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .social_list li:hover {
    color: rgb(190, 196, 158);
  }

  .social_list svg {
    font-size:  1.5em;
    cursor: pointer;
  }

  .copy_rigth {
    margin-top: 2em;
  }

  .copy_rigth {
    margin-top: 2em;
  }
  
  .copy_rigth span {
    font-weight: bold;
    color: rgb(190, 196, 158);
  }
  
